<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/nav.css">
    <link rel="stylesheet" href="styles/grid.css">
    <link rel="stylesheet" href="styles/bubble.css">
    <link rel="stylesheet" href="styles/search.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/product.css">
    <link rel="stylesheet" href="styles/buynow.css">

    <script src="https://kit.fontawesome.com/66aeee7b51.js" crossorigin="anonymous"></script>

    <title>Shop DB🛒</title>
</head>

<body>


    <div class="Nav" id="nav">
        <div class="brand">Shop DB</div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/search">Search</a></li>
            <li>
                <a href="/about">About us</a>
            </li>

        </ul>
    </div>