<%- include('partials/header') %>

    <div class="aboutContainer">

        <div class="containerV aboutBox">
            <h2>Vignesh</h2>
            <div class="about-content">
                <h3>Usn : 4CB19CS120</h3>
                <h3>Sem : 5</h3>
                <h3>Section : CS-B</h3>
            </div>
        </div>
        <hr>

        <div class="containerR aboutBox">
            <h2>Rajath Krishna Prabhu</h2>
            <div class="about-content">
                <h3>USN : 4CB19CS079</h3>
                <h3>Sem : 5</h3>
                <h3>Section : CS-B</h3>
                <!-- <h3>Sex : ND</h3> -->
            </div>
        </div>

    </div>



    <%- include('partials/footer') %>