<%- include('partials/header')%>
    <style>
        h1 {
            color: #fff;
            text-align: center;
        }
        
        h2 {
            color: rgba(255, 255, 255, 0.408);
            margin: 40px;
        }
        
        .error-giphy {
            text-align: center;
        }
    </style>

    <h1>ERROR :(</h1>

    <h2>Oops its a CONSTRAINT error !!!</h2>
    <h2>Try using differen ID or make sure FOREIGN KEY exist!!!</h2>
    <div class="error-giphy">
        <!-- <img src="https://media.giphy.com/media/XEV1MZdsQiB2UvsdRh/giphy.gif" width="fit-content" height="fit-content" allowFullScreen></iframe> -->
        <!-- <img src="https://media.giphy.com/media/PWlsJVm3mhwQhD7imf/giphy.gif" width="fit-content" height="fit-content" allowFullScreen></iframe> -->
        <!-- <img src="https://media.giphy.com/media/SQ2beVY199Hk6DDVhU/giphy.gif" width="fit-content" height="fit-content" allowFullScreen></iframe> -->
        <!-- <img src="https://media.giphy.com/media/YKPnig6bCS208kbtmK/giphy.gif" width="fit-content" height="fit-content" allowFullScreen></iframe> -->
        <img src="https://media.giphy.com/media/LMF0yPhkuCZQIWySSP/giphy.gif" width="500px" height="auto" allowFullScreen></iframe>


    </div>





    <%- include('partials/footer')%>