<%- include('partials/header')%>
    <style>
        h1 {
            color: #fff;
            text-align: center;
        }
        
        h2 {
            color: rgba(255, 255, 255, 0.408);
            margin: 40px;
        }
        
        .error-giphy {
            text-align: center;
        }
    </style>

    <h1>ERROR :(</h1>

    <h2>Try using different id</h2>
    <h2>Make sure you have used proper foreign keys</h2>
    <div class="error-giphy">
        <!-- <img src="https://media.giphy.com/media/o8uvcc5cfuEB3ck2zS/giphy.gif" width="fit-content" height="fit-content" allowFullScreen></iframe> -->
        <img src="https://media.giphy.com/media/XEV1MZdsQiB2UvsdRh/giphy.gif" width="fit-content" height="fit-content" allowFullScreen></iframe>

    </div>





    <%- include('partials/footer')%>