<%- include('partials/header')%>


    <h1 class="forgot-password">
        Dear Admin , your passowrd is <span>123</span>
    </h1>

    <style>
        .forgot-password {
            color: white;
            margin: 20px;
        }
        
        .forgot-password span {
            color: royalblue;
        }
    </style>

    <%- include('partials/footer')%>