<%- include('partials/header') %>


    <div class="box">

        <% for (var i = 0 ; i < 20 ; i++) { %>
            <div class="card-container">
                <div class="card">
                    <div class="img">
                    </div>
                </div>
                <p class="productName">Name</p>
                <div class="btn">
                    <a href="/product"> <button>BUY NOW</button></a>

                </div>
            </div>

            <%}%>

    </div>







    <%- include('partials/footer') %>