<%- include('partials/header')%>

    <div class="query-head">
        <h2 class="white">Query-div</h2>
        <p>under development -v Beta 1.0</p>
    </div>


    <form action="/query/555" method="post">

        <div class="query-insert">
            <!-- <label for="query">Review of W3Schools:</label> -->
            <textarea name="comment" rows="5" cols="50" placeholder="Enter Query"></textarea>
        </div>



    </form>

    <%- include('partials/footer')%>