<%- include('partials/header') %>

    <form action="/search" method="post">

        <div class="search-container">
            <!-- <label for='search-lable' id="suba"class='search-lable'>Search</label> -->
            <input type="text" autocomplete="off" name="searchTxt" class="search-input" placeholder="Search Product Name" required>
            <button class="search-btn" type="submit">></button>
        </div>


    </form>


    <%- include('partials/footer') %>