<%- include('partials/header') %>

    <div class="shop-head">
        <h1> <span>Product Name</span> is currently available in </h1>
    </div>

    <div class="shop-container">

        <div class="view-data shop" id="shops">
            <h2>Shop data</h2>

            <table class="data-table">
                <tr>
                    <th>Shop id</th>
                    <th>Shop name</th>
                    <th>Shop loc</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>



                <tr>
                    <td>
                        69
                    </td>
                    <td>
                        subbi angadi
                    </td>
                    <td>
                        mangalore
                    </td>
                    <td>
                        9071077931
                    </td>
                    <td>
                        12sdsdsdsdssd3@email.com
                    </td>
                </tr>

                <tr>
                    <td>
                        69
                    </td>
                    <td>
                        subbi angadi
                    </td>
                    <td>
                        mangalore
                    </td>
                    <td>
                        9071077931
                    </td>
                    <td>
                        123@email.com
                    </td>
                </tr>

                <tr>
                    <td>
                        69
                    </td>
                    <td>
                        subbi angadi
                    </td>
                    <td>
                        mangalore
                    </td>
                    <td>
                        9071077931
                    </td>
                    <td>
                        123@email.com
                    </td>
                </tr>

                <tr>
                    <td>
                        69
                    </td>
                    <td>
                        subbi angadi
                    </td>
                    <td>
                        mangalore
                    </td>
                    <td>
                        9071077931
                    </td>
                    <td>
                        123@email.com
                    </td>
                </tr>









            </table>

        </div>

        <div class="shop-btn-div btn">
            <a href="/"> <button>Home
        </div>

    </div>



    <%- include('partials/footer') %>