<%- include('partials/header') %>

    <div class="shop-title white">
        <h2>Our Angadi DB Anna</h2>


        <div class="shop-homebtn">
            <a href="/">
                <button>
                    Angadi poi 
                  </button>
            </a>
        </div>
    </div>


    <%- include('partials/footer') %>