.dashboardHead {
    color: rgba(255, 255, 255, 0.496);
    margin: 30px 40px;
}

.dashboardHead span {
    color: royalblue;
}

.dashlogout button {
    margin: 20px 40px;
    padding: 10px;
    background-color: royalblue;
    border-radius: 10px;
    color: #fff;
    font-size: 1 rem;
    border-style: none;
    cursor: pointer;
}

.dashlogout button:hover {
    background-color: rgb(122, 151, 240);
    box-shadow: -2 -2 5 #fff;
}

.dashhead-div {
    display: flex;
    justify-content: space-between;
}


/* main content*/

.dashboardContainer {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
}

.dashsidepanel {
    height: fit-content;
    width: fit-content;
    background-color: rgba(106, 143, 253, 0.177);
    padding: 10px;
    margin: 30px 40px;
    border-radius: 10px;
}

.dashsidepanel h4 {
    font-weight: 750;
    color: #fff;
    padding: 20px;
}

.dashsidepanel li {
    list-style: none;
    color: golden;
    margin-top: 10px;
    padding: 10px 0;
}

.dashsidepanel li a {
    color: #fff;
    text-decoration: none;
}

.dashhr {
    border: solid 3px rgba(253, 253, 253, 0.435);
    border-style: none none solid;
    width: 60vw;
    margin: 0 auto;
    margin: 20px auto;
}


/*  Dash tips*/

.dash-tips p {
    color: rgba(253, 253, 253, 0.435);
    margin: 10px 0;
}

.dash-tips span {
    color: royalblue;
}

.dash-tips {
    height: fit-content;
    width: 250px;
    border-radius: 10px;
    margin: 30px 40px;
    border: solid 3px rgba(253, 253, 253, 0.435);
    text-align: center;
}

.dash-tips h3 {
    color: rgba(253, 253, 253, 0.435);
    margin: 20px 0;
}


/* INSERT DIV */

.insertContainer {
    height: fit-content;
    width: fit-content;
    border: solid 3px royalblue;
    border-radius: 10px;
    margin: 30px 0;
    margin-left: 40px;
    position: relative;
}

.insert-name {
    color: #fff;
    margin: 40px;
}

.insert-input {
    margin: 10px;
}

.insertContainer .insertlist li {
    list-style-type: none;
}

.insertContainer .insertlist li input {
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    width: 20vw;
    height: 40px;
    color: #fff;
    outline: none;
    margin: 10px auto;
    font-size: 1.25rem;
    margin-right: 50px;
}


/* drop-down-begin */

.prdt-drop-div {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

.insertContainer .insertlist li select,
.prdt-drop-div label {
    margin: 10px auto;
    font-size: 1.25rem;
    background-color: transparent;
    width: 10vw;
    border: none;
    color: rgba(253, 253, 253, 0.435);
}

.insertContainer .insertlist li select:focus {
    outline: none;
}

.insertContainer .insertlist li select option {
    background-color: #171717;
    color: #fff;
    padding: 20px;
    border: 1px solid royalblue;
    box-shadow: 2px 2px 5px #fff;
}

.insert-submit {
    background-color: royalblue;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 50%;
    color: #fff;
    font-size: 1rem;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;
}


/* drop-down-end*/


/* View only */

.viewonly-container {
    text-align: center;
}

.view-data {
    border: 3px solid royalblue;
    width: fit-content;
    border-radius: 10px;
    margin: 40px auto;
    padding-bottom: 20px;
}

.data-table tr {
    color: #fff;
    margin: 40px;
}

.data-table tr th {
    padding: 30px;
    border-bottom: 1px solid #fff;
    background-color: rgba(65, 105, 225, 0.299);
}

.data-table tr td {
    padding: 10px;
    padding-bottom: 10px;
}

.data-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 10px;
}

.view-data h2 {
    color: #fff;
    margin: 20px;
}

.visits-contains {
    display: flex;
    justify-content: center;
}

.visits,
.contains {
    margin: 30px 30px;
}


/* DASHBOARD UP */

.dashboard-up {
    background-color: rgba(65, 105, 225, 0.204);
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border-radius: 100%;
    text-align: center;
    display: none;
    transition: all 1s
}

.dashboard-up-icon {
    color: #fff;
    font-size: 30px;
    margin-top: 8px;
}


/* HOVER PROPERTY */

.viewonly-container:hover+.dashboard-up,
.dashboard-up:hover {
    display: block;
}


/*Delete mod*/

.red {
    background-color: rgba(255, 0, 0, 0.408) !important;
}

.green {
    background-color: rgba(153, 255, 0, 0.313) !important;
}

.dlt,
.mod {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.503);
    border-radius: 10px;
    margin-right: 5px;
}

.dlt:hover {
    background-color: rgba(255, 0, 0, 0.408) !important;
}

.mod:hover {
    background-color: rgba(153, 255, 0, 0.313) !important;
}