body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #171717;
}

body::-webkit-scrollbar-thumb {
    background-color: royalblue;
    border-radius: 20px;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, 17rem);
    justify-content: center;
}

.card-container {
    margin: 20px 20px;
}

.card {
    height: 15rem;
    /* hi */
    background-color: rgba(65, 105, 225, 0.136);
    border: 1px solid rgba(65, 105, 225, 0.163);
    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(150, 173, 241, 0.421);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-container .btn {
    text-align: center;
    margin: 10px 0;
}

.btn a {
    text-decoration: none;
}

.btn a button {
    padding: 10px;
    background-color: royalblue;
    border: none;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn a button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.265);
}

.productName {
    color: #fff;
    margin: 5px;
    text-align: center;
}

.img img {
    width: 90%;
    height: fit-content;
    height: auto;
}