.query-head {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.query-head p {
    color: rgba(255, 255, 255, 0.524);
}


/*----------------------------*/


/*queries*/

.query-insert textarea {
    border: 5px solid royalblue;
    background-color: transparent;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
}

.query-insert textarea:focus {
    outline: none;
}

.query-insert {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}