.search-container {
    position: relative;
    text-align: center;
}

.search-container .search-input {
    border: none;
    border-bottom: 2px solid grey;
    background-color: #171717;
    width: 70vw;
    height: 40px;
    color: #fff;
    outline: none;
    margin: 40px auto;
    font-size: 1.25rem;
}

.search-input:focus {
    color: #fff;
    font-weight: 300;
}

.search-btn {
    background-color: transparent;
    border: none;
}

.search-text {
    display: flex;
    justify-content: center;
}

.search-text>h3 {
    color: rgba(255, 255, 255, 0.435);
    letter-spacing: 2px;
    margin: 10px 40px;
}


/*55555555555555555555555=products=5555555555555555555555555555*/