.shop-head {
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

.shop-head h1 {
    color: #fff;
    font-size: 3em;
}

.shop-head h1 span {
    color: royalblue;
}

.shop-container {
    text-align: center;
}