.shop-head {
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

.shop-head h1 {
    color: #fff;
    font-size: 3em;
    letter-spacing: 5px;
}

.shop-head h1 span {
    color: royalblue;
}

.shop-container {
    text-align: center;
}

.shop-head span {
    padding: 5px;
}

.shop-btn-div {
    text-align: center;
}

.green {
    background-color: rgba(153, 255, 0, 0.313) !important;
}